Test/xd.py
Foundations/CSS Foundations/css-exercises-main/.eslintrc.js
Foundations/CSS Foundations/css-exercises-main/.gitignore
Foundations/CSS Foundations/css-exercises-main/LICENSE
Foundations/CSS Foundations/css-exercises-main/README.md
Foundations/CSS Foundations/css-exercises-main/.github/PULL_REQUEST_TEMPLATE.md
Foundations/CSS Foundations/css-exercises-main/.github/ISSUE_TEMPLATE/bug_report.md
Foundations/CSS Foundations/css-exercises-main/.github/ISSUE_TEMPLATE/feature_request.md
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/01-button-hover/desired-outcome.gif
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/01-button-hover/index.html
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/01-button-hover/README.md
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/01-button-hover/style.css
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/01-button-hover/solution/solution.css
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/01-button-hover/solution/solution.html
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/02-pop-up/desired-outcome.gif
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/02-pop-up/index.html
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/02-pop-up/README.md
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/02-pop-up/script.js
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/02-pop-up/style.css
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/02-pop-up/solution/solution.css
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/02-pop-up/solution/solution.html
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/02-pop-up/solution/solution.js
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/03-dropdown-menu/desired-outcome.gif
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/03-dropdown-menu/index.html
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/03-dropdown-menu/README.md
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/03-dropdown-menu/script.js
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/03-dropdown-menu/style.css
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/03-dropdown-menu/solution/solution.css
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/03-dropdown-menu/solution/solution.html
Foundations/CSS Foundations/css-exercises-main/advanced-html-css/animation/03-dropdown-menu/solution/solution.js
Foundations/CSS Foundations/css-exercises-main/foundations/block-and-inline/01-margin-and-padding-1/desired-outcome.png
Foundations/CSS Foundations/css-exercises-main/foundations/block-and-inline/01-margin-and-padding-1/index.html
Foundations/CSS Foundations/css-exercises-main/foundations/block-and-inline/01-margin-and-padding-1/README.md
Foundations/CSS Foundations/css-exercises-main/foundations/block-and-inline/01-margin-and-padding-1/style.css
Foundations/CSS Foundations/css-exercises-main/foundations/block-and-inline/01-margin-and-padding-1/solution/solution.css
Foundations/CSS Foundations/css-exercises-main/foundations/block-and-inline/01-margin-and-padding-1/solution/solution.html
Foundations/CSS Foundations/css-exercises-main/foundations/block-and-inline/02-margin-and-padding-2/desired-outcome.png
Foundations/CSS Foundations/css-exercises-main/foundations/block-and-inline/02-margin-and-padding-2/index.html
Foundations/CSS Foundations/css-exercises-main/foundations/block-and-inline/02-margin-and-padding-2/README.md
Foundations/CSS Foundations/css-exercises-main/foundations/block-and-inline/02-margin-and-padding-2/style.css
Foundations/CSS Foundations/css-exercises-main/foundations/block-and-inline/02-margin-and-padding-2/solution/solution.css
Foundations/CSS Foundations/css-exercises-main/foundations/block-and-inline/02-margin-and-padding-2/solution/solution.html
Foundations/CSS Foundations/css-exercises-main/foundations/cascade/01-cascade-fix/desired-outcome.png
Foundations/CSS Foundations/css-exercises-main/foundations/cascade/01-cascade-fix/index.html
Foundations/CSS Foundations/css-exercises-main/foundations/cascade/01-cascade-fix/README.md
Foundations/CSS Foundations/css-exercises-main/foundations/cascade/01-cascade-fix/style.css
Foundations/CSS Foundations/css-exercises-main/foundations/cascade/01-cascade-fix/solution/solution.css
Foundations/CSS Foundations/css-exercises-main/foundations/cascade/01-cascade-fix/solution/solution.html
Foundations/CSS Foundations/css-exercises-main/foundations/flex/01-flex-center/desired-outcome.png
Foundations/CSS Foundations/css-exercises-main/foundations/flex/01-flex-center/index.html
Foundations/CSS Foundations/css-exercises-main/foundations/flex/01-flex-center/README.md
Foundations/CSS Foundations/css-exercises-main/foundations/flex/01-flex-center/style.css
Foundations/CSS Foundations/css-exercises-main/foundations/flex/01-flex-center/solution/solution.css
Foundations/CSS Foundations/css-exercises-main/foundations/flex/01-flex-center/solution/solution.html
Foundations/CSS Foundations/css-exercises-main/foundations/flex/02-flex-header/desired-outcome-narrow.png
Foundations/CSS Foundations/css-exercises-main/foundations/flex/02-flex-header/desired-outcome-wide.png
Foundations/CSS Foundations/css-exercises-main/foundations/flex/02-flex-header/index.html
Foundations/CSS Foundations/css-exercises-main/foundations/flex/02-flex-header/README.md
Foundations/CSS Foundations/css-exercises-main/foundations/flex/02-flex-header/style.css
Foundations/CSS Foundations/css-exercises-main/foundations/flex/02-flex-header/solution/solution.css
Foundations/CSS Foundations/css-exercises-main/foundations/flex/02-flex-header/solution/solution.html
Foundations/CSS Foundations/css-exercises-main/foundations/flex/03-flex-header-2/desired-outcome.gif
Foundations/CSS Foundations/css-exercises-main/foundations/flex/03-flex-header-2/desired-outcome.png
Foundations/CSS Foundations/css-exercises-main/foundations/flex/03-flex-header-2/index.html
Foundations/CSS Foundations/css-exercises-main/foundations/flex/03-flex-header-2/README.md
Foundations/CSS Foundations/css-exercises-main/foundations/flex/03-flex-header-2/style.css
Foundations/CSS Foundations/css-exercises-main/foundations/flex/03-flex-header-2/solution/solution.css
Foundations/CSS Foundations/css-exercises-main/foundations/flex/03-flex-header-2/solution/solution.html
Foundations/CSS Foundations/css-exercises-main/foundations/flex/04-flex-information/desired-outcome.png
Foundations/CSS Foundations/css-exercises-main/foundations/flex/04-flex-information/index.html
Foundations/CSS Foundations/css-exercises-main/foundations/flex/04-flex-information/README.md
Foundations/CSS Foundations/css-exercises-main/foundations/flex/04-flex-information/style.css
Foundations/CSS Foundations/css-exercises-main/foundations/flex/04-flex-information/images/barberry.png
Foundations/CSS Foundations/css-exercises-main/foundations/flex/04-flex-information/images/chilli.png
Foundations/CSS Foundations/css-exercises-main/foundations/flex/04-flex-information/images/pepper.png
Foundations/CSS Foundations/css-exercises-main/foundations/flex/04-flex-information/images/saffron.png
Foundations/CSS Foundations/css-exercises-main/foundations/flex/04-flex-information/solution/solution.css
Foundations/CSS Foundations/css-exercises-main/foundations/flex/04-flex-information/solution/solution.html
Foundations/CSS Foundations/css-exercises-main/foundations/flex/04-flex-information/solution/images/barberry.png
Foundations/CSS Foundations/css-exercises-main/foundations/flex/04-flex-information/solution/images/chilli.png
Foundations/CSS Foundations/css-exercises-main/foundations/flex/04-flex-information/solution/images/pepper.png
Foundations/CSS Foundations/css-exercises-main/foundations/flex/04-flex-information/solution/images/saffron.png
Foundations/CSS Foundations/css-exercises-main/foundations/flex/05-flex-modal/desired-outcome.png
Foundations/CSS Foundations/css-exercises-main/foundations/flex/05-flex-modal/index.html
Foundations/CSS Foundations/css-exercises-main/foundations/flex/05-flex-modal/README.md
Foundations/CSS Foundations/css-exercises-main/foundations/flex/05-flex-modal/style.css
Foundations/CSS Foundations/css-exercises-main/foundations/flex/05-flex-modal/solution/solution.css
Foundations/CSS Foundations/css-exercises-main/foundations/flex/05-flex-modal/solution/solution.html
Foundations/CSS Foundations/css-exercises-main/foundations/flex/06-flex-layout/desired-outcome.png
Foundations/CSS Foundations/css-exercises-main/foundations/flex/06-flex-layout/index.html
Foundations/CSS Foundations/css-exercises-main/foundations/flex/06-flex-layout/logo.png
Foundations/CSS Foundations/css-exercises-main/foundations/flex/06-flex-layout/README.md
Foundations/CSS Foundations/css-exercises-main/foundations/flex/06-flex-layout/style.css
Foundations/CSS Foundations/css-exercises-main/foundations/flex/06-flex-layout/solution/logo.png
Foundations/CSS Foundations/css-exercises-main/foundations/flex/06-flex-layout/solution/solution.css
Foundations/CSS Foundations/css-exercises-main/foundations/flex/06-flex-layout/solution/solution.html
Foundations/CSS Foundations/css-exercises-main/foundations/flex/07-flex-layout-2/desired-outcome-smaller.png
Foundations/CSS Foundations/css-exercises-main/foundations/flex/07-flex-layout-2/desired-outcome.png
Foundations/CSS Foundations/css-exercises-main/foundations/flex/07-flex-layout-2/index.html
Foundations/CSS Foundations/css-exercises-main/foundations/flex/07-flex-layout-2/README.md
Foundations/CSS Foundations/css-exercises-main/foundations/flex/07-flex-layout-2/style.css
Foundations/CSS Foundations/css-exercises-main/foundations/flex/07-flex-layout-2/solution/solution.css
Foundations/CSS Foundations/css-exercises-main/foundations/flex/07-flex-layout-2/solution/solution.html
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/01-css-methods/desired-outcome.png
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/01-css-methods/index.html
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/01-css-methods/README.md
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/01-css-methods/solution/solution.css
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/01-css-methods/solution/solution.html
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/02-class-id-selectors/desired-outcome.png
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/02-class-id-selectors/index.html
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/02-class-id-selectors/README.md
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/02-class-id-selectors/style.css
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/02-class-id-selectors/solution/solution.css
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/02-class-id-selectors/solution/solution.html
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/03-grouping-selectors/desired-outcome.png
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/03-grouping-selectors/index.html
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/03-grouping-selectors/README.md
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/03-grouping-selectors/style.css
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/03-grouping-selectors/solution/solution.css
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/03-grouping-selectors/solution/solution.html
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/04-chaining-selectors/desired-outcome.png
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/04-chaining-selectors/index.html
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/04-chaining-selectors/README.md
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/04-chaining-selectors/style.css
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/04-chaining-selectors/images/pexels-andrea-piacquadio-3777931.jpg
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/04-chaining-selectors/images/pexels-katho-mutodo-8434791.jpg
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/04-chaining-selectors/solution/solution.css
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/04-chaining-selectors/solution/solution.html
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/04-chaining-selectors/solution/images/pexels-andrea-piacquadio-3777931.jpg
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/04-chaining-selectors/solution/images/pexels-katho-mutodo-8434791.jpg
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/05-descendant-combinator/desired-outcome.png
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/05-descendant-combinator/index.html
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/05-descendant-combinator/README.md
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/05-descendant-combinator/style.css
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/05-descendant-combinator/solution/solution.css
Foundations/CSS Foundations/css-exercises-main/foundations/intro-to-css/05-descendant-combinator/solution/solution.html
Foundations/CSS Foundations/css-exercises-main/intermediate-html-css/advanced-grid/01-responsive-holy-grail/desired-outcome-narrow.png
Foundations/CSS Foundations/css-exercises-main/intermediate-html-css/advanced-grid/01-responsive-holy-grail/desired-outcome-wide.png
Foundations/CSS Foundations/css-exercises-main/intermediate-html-css/advanced-grid/01-responsive-holy-grail/index.html
Foundations/CSS Foundations/css-exercises-main/intermediate-html-css/advanced-grid/01-responsive-holy-grail/README.md
Foundations/CSS Foundations/css-exercises-main/intermediate-html-css/advanced-grid/01-responsive-holy-grail/style.css
Foundations/CSS Foundations/css-exercises-main/intermediate-html-css/advanced-grid/01-responsive-holy-grail/solution/solution.css
Foundations/CSS Foundations/css-exercises-main/intermediate-html-css/advanced-grid/01-responsive-holy-grail/solution/solution.html
Foundations/CSS Foundations/css-exercises-main/intermediate-html-css/advanced-grid/02-holy-grail-mockup/desired-outcome-stretched.png
Foundations/CSS Foundations/css-exercises-main/intermediate-html-css/advanced-grid/02-holy-grail-mockup/desired-outcome.png
Foundations/CSS Foundations/css-exercises-main/intermediate-html-css/advanced-grid/02-holy-grail-mockup/index.html
Foundations/CSS Foundations/css-exercises-main/intermediate-html-css/advanced-grid/02-holy-grail-mockup/README.md
Foundations/CSS Foundations/css-exercises-main/intermediate-html-css/advanced-grid/02-holy-grail-mockup/style.css
Foundations/CSS Foundations/css-exercises-main/intermediate-html-css/advanced-grid/02-holy-grail-mockup/solution/solution.css
Foundations/CSS Foundations/css-exercises-main/intermediate-html-css/advanced-grid/02-holy-grail-mockup/solution/solution.html
Foundations/CSS Foundations/css-exercises-main/intermediate-html-css/positioning-grid/01-basic-holy-grail/desired-outcome.png
Foundations/CSS Foundations/css-exercises-main/intermediate-html-css/positioning-grid/01-basic-holy-grail/index.html
Foundations/CSS Foundations/css-exercises-main/intermediate-html-css/positioning-grid/01-basic-holy-grail/README.md
Foundations/CSS Foundations/css-exercises-main/intermediate-html-css/positioning-grid/01-basic-holy-grail/style.css
Foundations/CSS Foundations/css-exercises-main/intermediate-html-css/positioning-grid/01-basic-holy-grail/solution/solution.css
Foundations/CSS Foundations/css-exercises-main/intermediate-html-css/positioning-grid/01-basic-holy-grail/solution/solution.html
